// -*- C -*-

/**
 *  @file   %b
 *  @brief  
 *
 *  Change log:
 *
 *  - %d-%m-%Y %( (profile-current-name) %) <%( (profile-current-mailing-address) %)>
 *    Creation of the file.
 *
 */

/**
 *  %( (profile-current-eval 'short-license) %)
 *
 *  Copyright (C) %Y, %( (profile-current-name) %)
 */

#include "%n.h"


