<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	   xmlns="http://insert.namespace"
	   targetNamespace="http://insert.namespace"
	   elementFormDefault="qualified" version="1.0">



</xs:schema>
