%%{
/*
 *  Make the parser code portable across many parser and provide the
 *  ability to have many parsers linked in the same executable.
 */
#define yymaxdepth %n_maxdepth
#define yyparse %n_parse
#define yylex   %n_lex
#define yyerror %n_error
#define yylval  %n_lval
#define yychar  %n_char
#define yydebug %n_debug
#define yypact  %n_pact
#define yyr1    %n_r1
#define yyr2    %n_r2
#define yydef   %n_def
#define yychk   %n_chk
#define yypgo   %n_pgo
#define yyact   %n_act
#define yyexca  %n_exca
#define yyerrflag %n_errflag
#define yynerrs %n_nerrs
#define yyps    %n_ps
#define yypv    %n_pv
#define yys     %n_s
#define yy_yys  %n_yys
#define yystate %n_state
#define yytmp   %n_tmp
#define yyv     %n_v
#define yy_yyv  %n_yyv
#define yyval   %n_val
#define yylloc  %n_lloc
#define yyreds  %n_reds
#define yytoks  %n_toks
#define yylhs   %n_yylhs
#define yylen   %n_yylen
#define yydefred %n_yydefred
#define yydgoto %n_yydgoto
#define yysindex %n_yysindex
#define yyrindex %n_yyrindex
#define yygindex %n_yygindex
#define yytable  %n_yytable
#define yycheck  %n_yycheck
#define yyname   %n_yyname
#define yyrule   %n_yyrule

/**
 *  @file   %b
 *  @brief  
 *
 *  Change log:
 *
 *  - %d-%m-%Y %( (profile-current-name) %) <%( (profile-current-mailing-address) %)>
 *    Creation of the file.
 *
 */

/**
 *  %( (profile-current-eval 'short-license) %)
 *
 *  Copyright (C) %Y, %( (profile-current-name) %)
 */

/*
 *  By default in most parser, use a scanner function from an
 *  external object.
 */
extern int yylex();

/*
 *  Define the error to be displayed on a failed syntactic analysis.
 */
void yyerror(const char* s)
{
	
}

%%}

%%%%

%%%%
